@font-face {
    font-family: light;
    src: url('/assets/fonts/proxima/Proxima-Nova-Alt-Light.otf');
}

@font-face {
    font-family: regular;
    src: url('/assets/fonts/proxima/ProximaNova-Regular.otf');
}

@font-face {
    font-family: semiBold;
    src: url('/assets/fonts/proxima/proximanova-semibold.otf');
}

@font-face {
    font-family: bold;
    src: url('/assets/fonts/proxima/Proxima Nova Bold.otf');
}

.light {
    font-family: light !important;
}

.regular {
    font-family: regular !important;
}

.semiBold {
    font-family: semiBold !important;
}

.bold {
    font-family: bold !important;
}

.size_16 {
    font-size: 16px !important;
}

.size_18 {
    font-size: 18px !important;
}

.size_20 {
    font-size: 20px !important;
}

body {
    font-family: regular !important;
    font-size: 14px;
    color: black;
}

div {
    font-family: regular !important;
    font-size: 14px;
    color: black;
}

.flex {
    display: flex !important;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.margin_auto {
    margin: 0 auto;
}

.blue {
    color: #0376ff !important;
}

.white {
    color: white;
}

.grid {
    display: grid !important;
}

textarea {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 13px;
    height: 115px;
}

textarea:focus {
    outline: none;
}

@media only screen and (min-width: 992px) {
    .plan_compare {
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: 991px) {
    .header_title {
        font-size: 40px !important;
        line-height: 40px !important;
        padding: 15px 160px !important;
        bottom: 150px !important;
    }
    .header_img img {
        height: 150px !important;
    }
    .header_images {
        height: 485px !important;
    }
    .header_images:after {
        height: 485px !important;
    }
    .testimonial {
        margin-top: -20px !important;
    }
    .head_logo {
        top: 83px !important;
    }
    .app_title {
        font-size: 30px !important;
        margin-top: 55px !important;
    }
    .footer_section_1 .col-md-3 {
        text-align: center;
    }
    .footer_section_1 .col-md-9 {
        text-align: center;
    }
    .play_store_btn a {
        text-align: center;
        margin: 0 auto;
    }
    .play_store_btn a img {
        margin-right: 0px !important;
    }
    a.nav-item.nav-link.login_btn {
        width: 155px !important;
        margin: 15px 15px 15px 30px !important;
    }
    .header {
        position: absolute;
        z-index: 99;
        width: 100%;
        background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(0 0 0));
    }
    a.site_logo.navbar-brand.mobile {
        display: block !important;
        margin-left: 30px;
    }
    a.site_logo.navbar-brand.desktop {
        display: none !important;
    }
    .site_logo img {
        width: 150px !important;
    }
    .header .lang a {
        color: #ffffff;
        text-transform: none;
        padding-left: 0;
        font-size: 16px;
    }
    .header a.nav-item.nav-link.login_btn {
        border-radius: 25px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto !important;
        top: 415px;
        background: transparent;
        border: 2px solid white;
        width: 252px !important;
    }
    .header .lang a {
        padding: 0 !important;
        font-size: 14px;
        margin-right: -7px;
    }
    .header_images .head_logo {
        display: none !important;
    }
    span.navbar-toggler-icon {
        position: absolute;
        left: 5px;
        top: 17px;
        background-size: 23px;
    }
    .header_inner .fa-language {
        margin-right: 8px;
        font-size: 17px !important;
    }
    .header_images:after {
        background: rgba(0, 0, 0, 0.7) !important;
    }
    .navbar-nav.ml-auto.lang {
        background: rgba(0, 0, 0, 0.7) !important;
        padding: 10px 0px;
    }
    .header .navbar-light .navbar-nav .nav-link {
        color: white !important;
        text-transform: inherit !important;
        margin: 8px 23px;
    }
    .dropdown-menu.show {
        margin-left: -61px;
    }
    .dropdown-menu.show a {
        color: #0875fe;
        padding-left: 12px !important;
        margin: 8px 0px;
    }
    .main_header {
        margin-bottom: 35px;
    }
    .navbar-collapse .dropdown-menu {
        display: block !important;
        background: transparent;
        margin: -11px;
    }
    .navbar-collapse .dropdown-menu a {
        padding: 6px !important;
        margin-left: 56px;
    }
    .navbar-collapse .dropdown-menu a:before {
        content: '';
        width: 8px;
        height: 8px;
        background: white;
        position: absolute;
        margin-left: -20px;
        margin-top: 7px;
        border-radius: 50%;
    }
    .site_header_2 {
        background: #0776ff !important;
        height: 71px;
    }
    #first {
        order: 1;
    }
    #second {
        order: 2;
    }
    .feature_img_block {
        margin-bottom: 60px;
    }
    .right_block .back_color {
        right: 0 !important;
    }
    .custom_column {
        width: 142px !important;
    }
    .single_plan {
        width: 50% !important;
    }
}

@media only screen and (max-width: 767px) {
    .header_title {
        padding: 15px 15px !important;
        font-style: italic;
    }
    .slider {
        max-width: 685px !important;
    }
    .custom_top2 {
        margin-top: 25px;
    }
    .col-md-9 .app_title {
        margin-top: 15px !important;
    }
    .phc_logo img {
        display: none;
    }
    .page_name {
        font-size: 50px !important;
        line-height: 45px;
    }
    .page_header {
        height: 300px !important;
    }
    .page_header_content {
        padding: 120px 15px !important;
    }
    .apply_form input[type="email"] {
        margin-top: 15px;
    }
    .page_desc {
        display: none;
    }
    .page_sub {
        font-size: 20px !important;
        line-height: 24px !important;
        margin-top: 9px;
    }
    .date_picker .custom_column {
        max-width: 170px !important;
    }
    .plans .single_plan {
        width: 100% !important;
    }
}

@media only screen and (max-width: 575px) {
    .single_img .header_img img {
        height: 280px !important;
    }
    .header_images .head_logo img {
        width: 230px;
    }
    .header_images .head_logo {
        top: 38px !important;
    }
    .header_images .header_title {
        top: 30% !important;
        font-size: 25px !important;
        line-height: 30px !important;
        font-style: italic;
    }
    .main_header .header_images {
        min-height: 100% !important;
        overflow: hidden;
    }
    .main_header .header_images:after {
        height: 100% !important;
    }
    .single_img {
        width: 49.66% !important;
    }
    .app_title {
        line-height: 38px;
    }
    .play_store_btn img {
        width: 130px !important;
    }
    .custom_top {
        margin-top: 15px;
    }
    .header .site_logo img {
        width: 115px !important;
        margin-top: 3px;
    }
    .footer_section_2 .col-sm-4 {
        max-width: 50%;
    }
    .head_logo {
        display: none;
    }
    .subscribe_section {
        display: block !important;
    }
    .email_submit {
        margin-left: 0px !important;
        margin-top: 14px;
    }
    .job_type {
        margin: 20px 0px !important;
    }
    .job_type {
        padding: 15px !important;
    }
    .front_img {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .back_color {
        width: 100% !important;
    }
    .two_column {
        display: block !important;
    }
    .date_picker.two_column .custom_column {
        min-width: 100% !important;
    }
}

@media only screen and (max-width: 470px) {
    .main_header .header_images .header_title {
        top: 20% !important;
        font-size: 25px !important;
        line-height: 30px !important;
    }
    .footer_section_3 .flex {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
    .radio_2 {
        margin-top: 43px;
    }
}

.main_header {
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.custom_hover {
    position: relative;
}

.lang a.dropdown-item {
    text-transform: capitalize;
}

.custom_hover:hover~.custom_submenu {
    display: block !important;
}

.footer_section_1 .col-md-3 img {
    width: 165px;
}

.single_img {
    width: 16.66%;
    float: left;
}

.header_img {
    margin: 7px;
}

.header_images:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 635px;
    background: rgba(0, 0, 0, 0.4);
}

.header_images {
    position: relative;
    background: black;
    height: 600px;
    display: inline-block;
    margin-bottom: 29px;
}

.header_title {
    position: absolute;
    bottom: 90px;
    z-index: 9;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
    padding: 15px 235px;
    line-height: 75px;
    text-shadow: 2px 4px 15px #404040;
    font-family: bold !important;
}

.site_logo img {
    width: 185px;
}

.header nav.navbar {
    margin: 5px 15px;
}

.header .navbar-light .navbar-nav .nav-link {
    color: #0875fe;
    text-transform: uppercase;
    padding-left: 30px;
    font-size: 16px;
}

a.nav-item.nav-link.login_btn {
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    text-align: center;
    color: white !important;
    padding-left: 0px !important;
    padding: 9px 30px 9px 30px !important;
    border-radius: 25px;
    margin-left: 23px;
    text-transform: uppercase;
    font-size: 16px;
}

.create_account {
    margin-top: 22px;
}

.create_account a {
    text-transform: uppercase;
    text-shadow: none !important;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 45px;
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    padding: 14px 65px;
    color: white;
    font-style: normal;
}

.head_logo {
    margin-bottom: 25px;
}

.head_logo img {
    width: 375px;
}

.create_account a:hover {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #6D56EF, #0277FF);
}

.slider {
    max-width: 1125px;
    margin: 0 auto;
}

.slick-slide {
    margin: 0 5px;
}

.slick-list {
    margin: 0px -5px 0px -5px;
}

button.slick-next,
button.slick-next:hover {
    position: absolute;
    top: 41%;
    right: 54px;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
}

button.slick-prev,
button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
    background-position-x: right;
}

.slick-prev:before,
.slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
}

.slider .single_testimonial {
    min-height: 250px;
    position: relative;
    border: 1px solid #e8e8e8;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #ececec;
}

.slider .single_testimonial:focus {
    outline: none;
}


/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */


/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide .single_testimonial {
    display: block;
}

.slick-slide.slick-loading .single_testimonial {
    display: none;
}

.slick-slide.dragging .single_testimonial {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
    font-weight: bold;
    font-size: 20px;
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}


/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.tes_left {
    font-size: 18px;
    font-family: semiBold !important;
    border-bottom: 1px solid #e6e6e6;
    width: 80%;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

.tes_right {
    position: absolute;
    right: 13px;
    top: 20px;
}

.tes_right img {
    width: 45px;
    opacity: 0.1;
}

.testimonial {
    margin-top: 15px;
    margin-bottom: -16px;
}

.tes_desc {
    color: grey;
}

.designation {
    color: grey;
    margin-top: -3px;
}

.footer_section_1 {
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    padding: 20px 0px;
}

.play_store_btn img {
    width: 170px;
    margin-right: 15px;
}

.app_title {
    color: white;
    font-size: 40px;
    font-family: bold !important;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer_heading {
    font-size: 18px;
    font-family: bold !important;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
}

.footer_links {
    display: grid;
}

.footer_links a {
    color: inherit;
    font-size: 16px;
    margin-top: 2px;
}

.footer_links a:hover {
    color: #0875fe !important;
    text-decoration: none;
}

.footer_section_2 {
    padding: 15px 0px;
}

.footer_heading:after {
    width: 45px;
    height: 3px;
    background: black;
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
}

.social_icon {
    display: flex;
}

.social_icon a div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    color: white;
    margin-right: 7px;
}

.social_icon a div i {
    font-size: 20px;
}

.link_heading {
    font-size: 18px;
    font-family: bold !important;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 14px;
    margin-right: 12px;
    margin-top: 7px;
}

.footer_section_3 {
    padding: 15px 0px;
    border-top: 1px solid #e8e8e8;
}

.newsletter {
    position: relative;
    width: 250px;
}

.newsletter input {
    border: 1px solid #b3b3b3;
    padding: 7px 13px;
    width: 100%;
    border-radius: 30px;
    padding-right: 35px;
}

.newsletter .fa {
    position: absolute;
    right: 15px;
    top: 11px;
    z-index: 99;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.footer_section_4 {
    padding: 15px 0px;
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    color: white;
    text-align: center;
}

button:focus {
    outline: none !important;
}

.header_inner .fa-language {
    margin-right: 8px;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.dropdown-toggle::after {
    display: none !important;
}

.lang.show {
    position: relative;
}

.navbar-light .navbar-toggler {
    border: none;
}

.features.dropdown-menu.show {
    margin-left: 114px;
}

.lang a {
    color: #0875fe;
    text-transform: uppercase;
    padding-left: 30px;
    font-size: 16px;
}

.mobile {
    display: none !important;
}

.heading {
    font-family: semiBold !important;
    text-align: center;
    margin: 10px 0px;
    font-size: 22px;
    text-transform: uppercase;
}

.subscribe_section {
    display: flex;
}

.or {
    margin: 9px 9px;
}

.email_submit {
    width: 65px;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 38px;
    border-radius: 25px;
    margin-left: 15px;
    background-image: linear-gradient(to bottom, #0277FF, #6D56EF);
    cursor: pointer;
}

.page_header {
    width: 100%;
    height: 550px;
   /*  background-image: url(../../assets/images/about_bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page_header_content {
    text-align: center;
    padding: 150px 15px;
}

.phc_logo img {
    width: 440px;
    filter: drop-shadow(0px 4px 12px black);
}

.page_name {
    font-size: 75px;
    font-family: bold !important;
    color: white;
    text-shadow: 2px 4px 15px #404040;
}

.qoute {
    background: #d2d2d2;
    padding: 20px;
    font-size: 20px;
    box-shadow: 2px 2px 3px #ababab;
    border-radius: 8px;
    margin-bottom: 25px;
}

.page {
    margin: 40px 0px;
}

.page_inner {
    font-size: 16px;
    text-align: justify;
}

.footer {
    border-top: 1px solid #e8e8e8;
}

.page_sub {
    font-size: 35px;
    font-family: bold !important;
    max-width: 750px;
    color: white;
    text-shadow: 2px 4px 15px #404040;
    line-height: 40px;
}

.custom_padding {
    padding: 100px 150px;
}

.page_desc {
    font-size: 20px;
    color: white;
    font-family: semiBold !important;
    line-height: 25px;
    max-width: 950px;
    width: 100%;
    text-shadow: 2px 4px 15px #404040;
    margin-top: 30px;
}

.job_title {
    font-size: 18px;
    font-family: bold !important;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.job_type {
    box-shadow: 0px 1px 9px #d2d2d2;
    padding: 20px;
    border-left: 5px solid #0b75fe;
    margin-bottom: 30px;
}

.theme_btn input {
    text-transform: uppercase;
    text-shadow: none !important;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 45px;
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    padding: 12px 65px;
    color: white;
    font-style: normal;
    border: none;
}

.theme_btn {
    text-align: right;
    margin-top: 20px;
}

.page_title {
    font-size: 32px;
    font-family: bold !important;
    margin: 20px 0px;
}

.job_apply {
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    padding: 35px 0px;
}

.apply_form input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.apply_form {
    max-width: 740px;
    width: 100%;
    margin: 0 auto !important;
}

.apply_job_title {
    color: white;
    font-family: 'semiBold';
    margin-bottom: 18px !important;
    margin: 0 auto;
    text-align: center;
}

.submit_form input.file {
    padding: 7px;
    color: inherit;
}

input.file {
    background: white;
    margin-top: 22px;
    padding: 7px;
}

.apply_form .theme_btn {
    text-align: center;
}

.apply_form .theme_btn input {
    background-image: linear-gradient(to bottom, #8cafff, #0539cc);
    border: none !important;
    border-radius: 25px;
}

.submit_form .apply_form .theme_btn input {
    max-width: 300px;
    width: 100%;
}

.site_header_2 {
    box-shadow: 0 1px 10px -5px;
}

.back_color {
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    width: 450px;
    height: 320px;
}

.front_img {
    background: #e6e6e6;
    width: 450px;
    height: 320px;
    margin-top: -358px;
    padding: 15px;
    text-align: center;
    margin-left: 40px;
}

.front_img img {
    height: 100%;
}

.features_title {
    font-size: 20px;
    font-family: bold !important;
    margin-top: 25px;
}

.features_title:after {
    content: '';
    width: 110px;
    height: 5px;
    background: #5e5bf1;
    margin-top: -12px;
    position: absolute;
    left: 16px;
}

.features_single {
    margin-top: 110px;
}

.features_desc {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}

.right_block .back_color {
    position: relative;
    z-index: -9;
    right: -83px;
}

.have_fun {
    margin: 35px 0px;
    margin-top: 90px;
}

.job_detail .job_type {
    box-shadow: none;
    padding: 0;
    border-left: none;
    margin-bottom: 35px;
}

.job_detail ul li {
    margin-bottom: 10px;
}

.job_detail .job_title {
    font-size: 25px !important;
}

.download_header_content {
    margin: 0;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.download_img {
    text-align: right;
}

.download_header_content .app_title {
    margin-top: 100px;
}

.submit_form .apply_form input {
    border: 1px solid grey;
    margin-top: 0px;
}

.apply_form label {
    margin-top: 16px;
}

.custom_radio .custom-radio {
    margin-top: -6px;
}

.form-check.custom_checkbox input.form-check-input {
    width: auto;
    margin-top: 3px;
}

#main {
    margin: 30px 0;
    width: 100%;
}

#main #faq .card {
    box-shadow: 0 2px 6px -4px;
    margin-bottom: 15px;
    border: 0;
}

#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

#main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    color: white;
    padding: 12px 20px;
}

#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
    background: #e8e8e8;
    color: black;
}

#main #faq .card-body {
    background: #e8e8e8;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
    transform: rotate(90deg);
}

#main #faq .card .collapsing {
    background: #FFE472;
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    background: #FFE472;
    line-height: 30px;
    color: #222;
}

a.btn.btn-header-link.collapsed {
    padding-left: 40px !important;
}

a.btn.btn-header-link.collapsed:before {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: -18px;
}

a.btn.btn-header-link {
    padding-left: 40px !important;
}

a.btn.btn-header-link:before {
    content: '';
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: -18px;
}

.accordion_margin {
    margin-top: 40px;
}

.date_picker [type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    padding-top: 9px;
    padding-bottom: 9px;
}

.date_picker [type="date"]::-webkit-inner-spin-button {
    display: none;
}

.date_picker [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


/* custom styles */

.date_picker label {
    display: block;
}

.two_column {
    display: flex;
}

.custom_column {
    width: 162px;
}

.date_picker input {
    padding-right: 0px !important;
}

.append img {
    width: 18px;
    margin-right: 8px;
    position: relative;
    top: -2px;
}

.append {
    margin: 15px;
}

.custom_form_top {
    margin-top: 20px !important;
}

.plan_company_logo img {
    width: 125px;
}

.single_plan {
    float: left;
    width: 33.33%;
}

.plans {
    margin: 0px -7px;
}

.plan_inner {
    box-shadow: 0 0px 11px -7px;
    margin: 10px;
    padding: 23px;
    border-radius: 10px;
}

.plan_header {
    display: flex;
}

.plan_header div {
    width: 50% !important;
    margin: 0px 10px;
}

.plan_company_logo {
    text-align: right;
}

.plan_type {
    transform: skew(-20deg);
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    display: inline-table;
}

.plan_standard {
    background: #a0a0a0;
}

.plan_price {
    color: #0376ff;
    text-align: center;
    font-size: 20px;
    margin: 15px 0px;
    font-family: semiBold !important;
}

.single_point {
    /* background-image: url(../images/check.svg); */
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 28px;
    font-size: 16px;
    background-position-y: 3px;
}

.plan_btn {
    background-image: linear-gradient(to right, #0277FF, #6D56EF);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
}

.plan_button {
    text-align: center;
    margin-top: 15px;
}

.plan_premium {
    background: orange;
}

.plan_experience {
    background: #0476ff;
}

.plan_jobseeker {
    background: #ea9696;
}

.free_plan {
    float: inherit;
    margin: 0 auto;
}

.plan_compare {
    overflow: auto;
    margin: 0px 15px;
    border: 1px solid #a5a5a5;
}

.plan_compare table {
    width: 100%;
    min-width: 800px;
}

.plan_table_logo img {
    width: 100px;
    margin-bottom: 7px;
}

.plan_compare table tr {
    text-align: center;
}

.plan_compare .plan_type {
    font-size: 14px;
    width: 115px;
}

.table_desc {
    font-size: 16px;
    width: 290px;
    line-height: 51px;
    font-family: bold !important;
}

.plan_compare .table td img {
    width: 20px;
}