<template>
<div>
   <div class="page_header">
      <div class="page_header_content">
        <div class="phc_logo">
          <img :src="require(`@/assets/images/logo.png`)">  
        </div>
      <div class="page_name">About us</div>
      </div>
   </div>
   <!--start container-->
   <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="page">
                <div class="qoute">
                   Jobamax is the fruit of a simple premise: Why is finding a Job or Hiring somebody so onerous and out of data today?
                </div>
               <div class="page_inner">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.            
                    <h1 class="center bold blue" style="margin: 35px 0px;">"Welcome to Jobamax"</h1>
                  <div class="create_account center">
                    <a href="">Register</a>
                  </div>
               </div>
            </div>
        </div>
      </div>
   </div>
   <!--end container-->    
</div>
</template>
<script>
export default {
    
}
</script>
<style>
  .page_header{
     background-image: url('../assets/images/about_bg.jpg');
  }
</style>