<template>
    <div>
        <!--start page header div-->
       <div class="page_header">
          <div class="page_header_content">
             <div class="phc_logo">
                <img :src="require(`@/assets/images/logo.png`)"/>            
             </div>
             <div class="page_name">Community Guidelines</div>
          </div>
      </div>
      <!--end page header div-->
     <!--start container-->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="page">
                      <div class="page_title">Community Guidelines</div>
                      <div class="page_inner">
                           Below is a list of indicative olicies that you are supposed to follow. If you choose not to follow 
                           any of these policies, you might be banned from the platform. We encourage you to go through them
                          <br><br><br>
                          <h2 class="blue bold mb-3">What is not allowed on Jobamax:</h2>
                            <h4 class="semiBold">1. What is Lorem Ipsum?</h4> 
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a 
                                type specimen book. It has survived not only five centuries, but also 
                                the leap into electronic typesetting, remaining essentially unchanged.
                            <br><br>            
                            <h4 class="semiBold">2. What is Lorem Ipsum?</h4> 
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a 
                                type specimen book. It has survived not only five centuries, but also 
                                the leap into electronic typesetting, remaining essentially unchanged.
                            <br><br>            
                            <h4 class="semiBold">3. What is Lorem Ipsum?</h4> 
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a 
                                type specimen book. It has survived not only five centuries, but also 
                                the leap into electronic typesetting, remaining essentially unchanged.
                            <br><br>            
                            <h4 class="semiBold">4. What is Lorem Ipsum?</h4> 
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a 
                                type specimen book. It has survived not only five centuries, but also 
                                the leap into electronic typesetting, remaining essentially unchanged.
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--end container-->

    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>