<template>
 <div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page">
                   <div class="page_title">Contact Us</div>
                    <div class="page_inner">
                       Please feel free to contact us for any inquieries. We will get back to you as soon as possible.
                         <br><br>
                         <h4 class="semiBold">
                           Support
                         </h4> 
                          Have got some query, mail us at
                         <a href="mailto:support@jobamax.com">support@jobamax.com</a>
                         <br><br>
                         <h4 class="semiBold">
                             Advertisment
                         </h4> 
                         Want to advertis on jobamax?
                        <a href="mailto:ads@jobamax.com">ads@jobamax.com</a>
                        <br><br>
                        <h4 class="semiBold">
                            Success Stories
                        </h4> 
                         Want to share success stories on jobamax?
                        <a href="mailto:stories@jobamax.com">stories@jobamax.com</a>
                        <br><br>
                        <h4 class="semiBold">
                            Cummunication
                        </h4> 
                        Want to share some ideas with jobamax?
                        <a href="mailto:communication@jobamax.com">communication@jobamax.com</a>
                        <br><br>
                        <h4 class="semiBold">
                            Press
                        </h4> 
                        Want to add jobamax in your next article or blog?
                        <a href="mailto:press@jobamax.com">press@jobamax.com</a>
                        <br><br>
                        <h4 class="semiBold">
                            Partnership
                        </h4> 
                        Intrest in partnering with jobamax?
                        <a href="mailto:partners@jobamax.com">partners@jobamax.com</a>
                        <br><br>
                        <h4 class="semiBold">
                            Company Information
                        </h4>             
                         Jobamax 74 rue Hource-Bretin 13005 Marseille France<br>
                         Company Name: 852 115 369<br>
                         Share Capital: 200 000<i class="fa fa-gbp" aria-hidden="true"></i><br>
                         Legal representative: London Alexandre
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</template>
<script>
export default {
    
}
</script>
<style>

</style>