<template>
<div>
<div class="page">
<div class="page_inner left">
<div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="page_title">CV</div>
      </div>
    </div>
    <div class="submit_form">
        <div class="container">
            <div class="row apply_form">   
                <div class="box_heading size_20 semiBold ml-3">Educations</div>
                <div class="row m-0 append_box">
                    <div class="col-md-6">
                        <label>School Name</label>
                        <input type="text" placeholder="Enter school name">            
                    </div>
                    <div class="col-md-6">
                        <label>Last Name</label>
                        <input type="text" placeholder="Last name">            
                    </div>
                    <div class="col-md-6">
                        <label>Program Name</label>
                        <input type="text" placeholder="Enter program name">                    
                    </div>
                    <div class="col-md-6 date_picker two_column">
                        <div class="custom_column mr-3">
                            <label>Start Date</label> 
                            <input type="date" name="starDate" id="starDate">
                        </div>
                        <div class="custom_column">
                            <label>Last Date</label> 
                            <input type="date" name="endDate" id="endDate">
                        </div>
                    </div>
                </div>             
                <a href="#" class="append">
                    <img :src="require(`@/assets/images/plus.svg`)">Add Education
                </a>
            </div>
            <div class="row apply_form custom_form_top">   
                <div class="box_heading size_20 semiBold ml-3">Experiences</div>
                <div class="row m-0 append_box">
                    <div class="col-md-6">
                        <label>Job</label>
                        <input type="text" placeholder="Enter job title">            
                    </div>
                    <div class="col-md-6">
                        <label>Company Name</label>
                        <input type="text" placeholder="Enter name">            
                    </div>                    
                    <div class="col-md-6 date_picker">
                        <label>Start Date</label> 
                        <input type="date" name="startDate" id="startDate">
                    </div>
                    <div class="col-md-6 date_picker">
                        <label>Last Date</label> 
                        <input type="date" name="endDate" id="endDate">
                    </div>
                    <div class="col-md-12">                    
                        <label>Description</label>
                        <textarea placeholder="Type something..."></textarea>                    
                    </div>
                </div>             
                <a href="#" class="append">
                    <img :src="require(`@/assets/images/plus.svg`)">Add Experience
                </a>
            </div>
            <div class="row apply_form custom_form_top grid">   
                <div class="box_heading size_20 semiBold ml-3">Skills</div>
                <div class="row m-0 append_box">                    
                    <div class="col-md-12">                    
                        <label>Skills</label>
                        <input type="text" placeholder="Enter skill">                   
                    </div>
                </div>             
                <a href="#" class="append">
                    <img :src="require(`@/assets/images/plus.svg`)">Add Skill
                </a>
            </div>
            <div class="row apply_form custom_form_top grid">   
                <div class="box_heading size_20 semiBold ml-3">Activities</div>
                <div class="row m-0 append_box">                    
                    <div class="col-md-12">                    
                        <label>Acitvities</label>
                        <input type="text" placeholder="Enter activity">                   
                    </div>
                </div>             
                <a href="#" class="append">
                    <img :src="require(`@/assets/images/plus.svg`)">Add Activity
                </a>
            </div>
            <div class="form-group" v-for="(input,k) in inputs" v-bind:key="k">
    <input type="text" class="form-control" v-model="input.activity">
    <span>
        <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)"></i>
        <i class="fas fa-plus-circle" @click="add(k)" v-show="k == inputs.length-1"></i>
    </span>
</div>

            <div class="row apply_form custom_form_top grid">                   
                <div class="row m-0 append_box">                    
                    <div class="col-md-12">                    
                        <label>About Me</label>
                        <textarea placeholder="Type something..."></textarea>                    
                    </div>
                </div>                
            </div>
            <div class="row apply_form"> 
                <div class="col-md-12">
                    <div class="theme_btn">
                        <input type="button" value="Send">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            inputs :[{
                activity :''
            }]
        }
    },
    methods: {
        add(index) {
            this.inputs.push({name:''})
        },
        remove(index) {
             this.inputs.splice(index,1)
        }
    }
}
</script>
<style scoped>

</style>