<template>
 <div> 
  <div class="page_header">
    <div class="download_header_content">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="download_img">
                        <img :src="require(`@/assets/images/mobile_img.png`)">    
                    </div>
                </div>
                 <div class="col-md-7">
                    <div class="app_title">Launching Soon in Spring 2021</div>
                    <div class="play_store_btn flex">
                        <a href=""><img :src="require(`@/assets/images/apple.png`)"></a>
                        <a href=""> <img :src="require(`@/assets/images/google_play.png`)"></a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
 </div>
 <Testimonial></Testimonial>
 </div> 
</template>
<script>
import Testimonial from '../components/Testimonial.vue'

export default {
    components: {
        Testimonial,
    }
}
</script>
<style scoped>

</style>
