<template>
<div>
  <div class="scroll_header">
    <div class="main_header">      
        <div class="header_title">
            <div class="head_logo">
                <img :src="require(`@/assets/images/logo.png`)" />
            </div>
            An idial Candidate for An idial Company
            <div class="create_account">
                <a href="">Registration</a>
            </div>
        </div> 
    </div> 
</div>
<Testimonial></Testimonial>
<AppStore></AppStore>

  </div>
</template>

<script>
import Testimonial from '../components/Testimonial.vue'
import AppStore from '../components/AppStore.vue'

export default {
  components: {
    Testimonial,
    AppStore
  }
}
</script>

<style>
::-webkit-scrollbar {
    display: none;
}
.main_header{
  background-image:url('../assets/images/header_bg.jpg');
}
</style>
