<template>
   <div>
         <div class="page">
                <div class="page_inner left">
                      <div class="container">
                              <div class="row">
                                   <div class="col-md-12">
                                        <div class="page_title">Jobs at Jobamax</div>
                                   </div>
                               </div>
   
                              <div class="row job_type">
                                 <div class="col-md-6">
                                    <div class="job_title">UI/UX</div>
                                    <div class="job_designation size_16">
                                       US Brand Design Manager
                                    </div> 
                                    <div class="job_address size_16">
                                       Los Angeles, California Jobamax Communication
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="theme_btn">
                                       <input type="button" value="Apply" @click="submitApplication">
                                    </div>
                                 </div>
                              </div>

                              <div class="row job_type">
                                 <div class="col-md-6">
                                    <div class="job_title">IOS Developer</div>
                                    <div class="job_designation size_16">
                                       US Brand Design Manager
                                    </div> 
                                    <div class="job_address size_16">
                                       Los Angeles, California Jobamax Communication
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="theme_btn">
                                       <input type="button" value="Apply" @click="submitApplication">
                                    </div>
                                 </div>
                              </div>

                              <div class="row job_type">
                                 <div class="col-md-6">
                                    <div class="job_title">Finance</div>
                                    <div class="job_designation size_16">
                                       US Brand Design Manager
                                    </div> 
                                    <div class="job_address size_16">
                                       Los Angeles, California Jobamax Communication
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="theme_btn">
                                       <input type="button" value="Apply" @click="submitApplication">
                                    </div>
                                 </div>
                              </div>

                              <div class="row job_type">
                                 <div class="col-md-6">
                                    <div class="job_title">Medical</div>
                                    <div class="job_designation size_16">
                                       US Brand Design Manager
                                    </div> 
                                    <div class="job_address size_16">
                                       Los Angeles, California Jobamax Communication
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="theme_btn">
                                       <input type="button" value="Apply" @click="submitApplication">
                                    </div>
                                 </div>
                              </div>
                      </div>

                     <div class="job_apply">
                        <div class="container">
                           <div class="row apply_form">
                              <h2 class="apply_job_title">
                                 No jobs are right for you? Apply Spontaneously
                              </h2>
                              <div class="col-md-6">
                                 <input type="text" placeholder="Enter name">            
                              </div>
                              <div class="col-md-6">
                                 <input type="email" placeholder="Enter email">            
                              </div>
                              <div class="col-md-6">
                                 <input type="file" class="file">
                              </div>
                              <div class="col-md-6">
                                 <div class="theme_btn">
                                    <input type="button" value="Send">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                </div>
         </div>
   </div>
</template>
<script>
export default {
   methods:{
      submitApplication(){
      let vm = this
      vm.$router.push({path:'/submit-application'})
      }
   }
}
</script>
<style>

</style>