<template>
    <div>
         <div class="page_header">
                <div class="page_header_content left custom_padding">        
                  <div class="page_name">Find Your Idial Company</div>
                    <div class="page_sub">
                        "Choose a job you love and you wan't have to work a day in your life."
                    </div>
                    <div class="page_desc">
                        As the job market becomes increasingly competitive and elitist, 
                        distinguishing profiles is becoming more costly and difficult.
                        On the other hand, jobhunting has never been easier than at Jobamax.
                        With a free mobile application, quality training and video CVs, Jobamax
                        accompanies you every step of the way.
                    </div>
                </div>
       </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                       <div class="page">       
                                <div class="page_inner">
                                      <h1 class="center bold blue" style="margin: 35px 0px;">"Job Recruiter Features"</h1>
                                    <div class="create_account center mb-2">
                                        <a href="">Register</a>
                                    </div>
                                    <div class="row features_single">
                                        <div class="col-lg-6">
                                            <div class="feature_img_block">
                                                <div class="back_color"></div>
                                                <div class="front_img">
                                                    <img :src="require(`@/assets/images/mobile_img.png`)"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="features_title">Swipe</div>
                                            <div class="features_desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                        </div>
                                    </div>

                                    <div class="row features_single right_blcok">                
                                        <div class="col-lg-6" id="second">
                                            <div class="features_title">Video Presentation</div>
                                            <div class="features_desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                        </div>
                                        <div class="col-lg-6" id="first">
                                            <div class="feature_img_block right_block">
                                                <div class="back_color"></div>
                                                <div class="front_img">
                                                <img :src="require(`@/assets/images/mobile_img.png`)"> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row features_single">
                                        <div class="col-lg-6">
                                            <div class="feature_img_block">
                                                <div class="back_color"></div>
                                                <div class="front_img">
                                                    
                                                    <img :src="require(`@/assets/images/mobile_img.png`)"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="features_title">Real Time Tacking Responces</div>
                                            <div class="features_desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                        </div>
                                    </div>

                                    <div class="row features_single right_blcok">                
                                        <div class="col-lg-6" id="second">
                                            <div class="features_title">Training Section</div>
                                            <div class="features_desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                        </div>
                                        <div class="col-lg-6" id="first">
                                            <div class="feature_img_block right_block">
                                                <div class="back_color"></div>
                                                <div class="front_img">
                                                    <img :src="require(`@/assets/images/mobile_img.png`)"> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h1 class="center bold blue have_fun">"Have Fun Finding a Job"</h1>
                                    <div class="create_account center">
                                        <a href="">Register</a>
                                    </div>
                              </div>
                       </div>
    
                </div>
            </div>
        </div>
         <Testimonial></Testimonial>
         <AppStore></AppStore>
    </div>
</template>
<script>
import Testimonial from '../components/Testimonial'
import AppStore from '../components/AppStore'

export default {
    components:{
    Testimonial,
    AppStore
    }
}
</script>
<style>
.page_header{
 background-image: url('../assets/images/about_bg.jpg');
}

</style>