<template>
  <div>
      <div class="page_header">
          <div class="page_header_content">
            <div class="phc_logo">
                <img :src="require(`@/assets/images/logo.png`)">            
            </div>
          <div class="page_name">Privacy</div>
         </div>
     </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                  <div class="page">        
                        <div class="page_inner">
                            <div class="page_title">Privacy Policy</div>
                                <h4 class="semiBold">1. Introduction</h4>
                                <ul>
                                    <li>                    
                                        We are committed to safeguarding the privacy or our website visitors, service user,
                                        individual customers and suctomer personnel.
                                    </li>
                                    <li>                    
                                        This policy applies where we are acting as a data controller with respect to the personal
                                        data of such persons; in other words, where we determine the purposes and mewans of the peocessing of
                                        that personal data.
                                    </li>
                                </ul>          
                               <h4 class="semiBold">2. The personal data that we collect</h4>
                                <ul>
                                    <li>                    
                                        We are committed to safeguarding the privacy or our website visitors, service user,
                                        individual customers and suctomer personnel.
                                    </li>
                                    <li>                    
                                        This policy applies where we are acting as a data controller with respect to the personal
                                        data of such persons; in other words, where we determine the purposes and mewans of the peocessing of
                                        that personal data.
                                    </li>
                                </ul>
                            </div>
                    </div>
            </div>
        </div>
    </div>
   
  </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.page_header{
 background-image: url('../assets/images/about_bg.jpg');
}
</style>