<template>
   <div>
         <div class="page_header">
            <div class="page_header_content">
                <div class="phc_logo">
                    <img :src="require(`@/assets/images/logo.png`)">            
                </div>
              <div class="page_name">Safety Tips</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="page">
                           <div class="page_title">Safety Tips</div>
                            <div class="page_inner">
                            You should use your best judgment to gauge potential recruiters or professionals. But here are
                            some pointers that you can use to get an idea of the best practices.
                                <br><br><br>
                                <h2 class="bold mb-3">Online Safety</h2>
                                <h4 class="semiBold">1. Never send money or share financial information</h4> 
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    when an unknown printer took a galley of type and scrambled it to make a 
                                    type specimen book. It has survived not only five centuries, but also 
                                    the leap into electronic typesetting, remaining essentially unchanged.
                                <br><br>            
                                <h4 class="semiBold">2. Protect your personal information</h4> 
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    when an unknown printer took a galley of type and scrambled it to make a 
                                    type specimen book. It has survived not only five centuries, but also 
                                    the leap into electronic typesetting, remaining essentially unchanged.
                                <br><br>            
                                <h4 class="semiBold">3. Stay on the platform</h4> 
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    when an unknown printer took a galley of type and scrambled it to make a 
                                    type specimen book. It has survived not only five centuries, but also 
                                    the leap into electronic typesetting, remaining essentially unchanged.
                                <br><br>            
                                <h4 class="semiBold">4. Report all suspicious and offensive behavior</h4> 
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    when an unknown printer took a galley of type and scrambled it to make a 
                                    type specimen book. It has survived not only five centuries, but also 
                                    the leap into electronic typesetting, remaining essentially unchanged.
                                <br><br>
                                <h4 class="semiBold">5. Protect your account </h4> 
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    when an unknown printer took a galley of type and scrambled it to make a 
                                    type specimen book. It has survived not only five centuries, but also 
                                    the leap into electronic typesetting, remaining essentially unchanged.
                            </div>
                   </div>
                </div>
           </div>
        </div>
   </div> 
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>