<template>
    <div>
        <div class="page_header">
            <div class="page_header_content">
                <div class="phc_logo">
                    <!-- <img src="assets/images/logo.png">-->
                    <img :src="require(`@/assets/images/logo.png`)">
                </div>
                <div class="page_name">Security</div>
            </div>
        </div>
        <!--start container-->
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                    <div class="page">
                        <div class="page_title">Jobs at Jobamax</div>
                        <div class="page_inner">
                            For questions, concerns or issues with your profile, or to report another user or profile,
                            please visit <a href="mailto:support@jobamax.com">support@jobamax.com</a> <br>
                            Here at jobamax, your security and privacy are of paramount importance. It is not possible to 
                            assess the full rance of cyber threats you might face, therefore, we regularly work on improving
                            the security of platform to keep you safe.
                            <br><br>
                            <h4 class="semiBold">Security Practices</h4> 
                            We employ all kind of controls, including electronic, physical as well as procedural to keep
                            you and your data protected from unauthorized access. We conduct regular internal audits to 
                            keep your data safe.
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!--end container-->
    </div>
</template>
<script>
export default {
    
}
</script>
<style>
.page_header{
 background-image: url('../assets/images/about_bg.jpg');
}
</style>