<template>
    <div>
        <div class="page_header">
             <div class="page_header_content">
                    <div class="phc_logo">
                      <img :src="require(`@/assets/images/logo.png`)">            
                    </div>
                   <div class="page_name">What's your idea</div>
             </div>
        </div>

       <div class="page">
             <div class="page_inner left">
                   <div class="container">

    <div class="row">
      <div class="col-md-12">
         <div class="page_title">Submit Your Application</div>
      </div>
    </div>
    
    <div class="submit_form">
        <div class="container">
              <div class="row apply_form">                
                     <div class="col-md-6">
                        <label>First Name</label>
                        <input type="text" placeholder="Enter name">            
                    </div>
                    <div class="col-md-6">
                        <label>Email*</label>
                        <input type="email" placeholder="Enter email">            
                    </div>
                
                    <div class="col-md-6">
                        <label>Your idea is related to:*</label>                    
                        
                        <div class="custom_radio">                        
                              <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="customRadio" name="example1">
                                    <label class="custom-control-label" for="customRadio">A new suggestion or idea</label>
                              </div>   
                            <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                                    <label class="custom-control-label" for="customRadio1">An imporovement to existing product</label>
                            </div>                                
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom_radio radio_2"> 
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                                <label class="custom-control-label" for="customRadio3">A request to bring back a product</label>
                            </div>   
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                                <label class="custom-control-label" for="customRadio4">Other</label>
                            </div>                                            
                        </div>             
                    </div>                

                    <div class="col-md-12">                    
                        <label>Description</label>
                        <textarea placeholder="Type something..."></textarea>  
                        <div class="form-check custom_checkbox">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                                By checking this box i agree with <a href="#"><u>Terms & Conditions</u></a>
                            </label>
                        </div>                  
                    </div>
                    <div class="col-md-12">
                        <div class="theme_btn">
                            <input type="button" value="Send">
                        </div>
                    </div>
              </div>
        </div>
    </div>

</div>
             </div>
       </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.page_header{
 background-image: url('../assets/images/about_bg.jpg');
}
</style>