<template>
    <div>
         <div class="page">
               <div class="page_inner left">
                     <div class="container">
                            <div class="row">
                                  <div class="col-md-12">
                                      <div class="page_title">Submit Your Application</div>
                                  </div>
                            </div>
                          <!--start submitform div-->
                            <div class="submit_form">
                                    <div class="container">
                                         <div class="row apply_form">                
                                                <div class="col-md-6">
                                                        <label>First Name*</label>
                                                        <input type="text" placeholder="Enter name">            
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Email*</label>
                                                    <input type="email" placeholder="Enter email">            
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Phone Number*</label>
                                                    <input type="number" placeholder="9876543210">                    
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Resume/CV*</label>
                                                    <input type="file" id="myFile" name="filename" class="file" >
                                                                    
                                                </div>
                                                <div class="col-md-12">                    
                                                    <label>Additional Information</label>
                                                    <textarea placeholder="Type something..."></textarea>                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="theme_btn">
                                                        <input type="button" value="Send">
                                                    </div>
                                                </div>
                                          </div>
                                    </div>
                            </div>
                            <!--end submitform div-->
                     </div>
               </div>
         </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>


</style>