<template>
  <div>
      <div class="page">
            <div class="page_inner left">
                   <div class="container">
                        <div class="row">
                             <div class="col-md-12">
                                    <div class="page_title">Jobamax Subscription Tiers</div>
                             </div>
                        </div>
                        <div class="row mb-5">
                                <div class="col-md-12">
                                     <h4 class="blue bold center mb-3">
                                         It's absolutely free for job seekers
                                    </h4>
                                     <div class="plans">
                                          <div class="single_plan free_plan">
                                                <div class="plan_inner">
                                                      <div class="plan_header">
                                                            <div class="plan_company_logo">
                                                                
                                                            <img :src="require(`@/assets/images/blue_logo2.png`)" />

                                                            </div>
                                                            <div class="plan_type plan_jobseeker">
                                                                Jobseeker
                                                            </div>
                                                      </div>
                                                      <div class="plan_price">
                                                            0$ / month
                                                      </div>
                                                      <div class="plan_poins">
                                                            <div class="single_point">Unlimited Matches Per Day</div>
                                                            <div class="single_point">Unlimited Chat</div>
                                                            <div class="single_point">Go Back</div>
                                                            <div class="single_point">1 Reach Every 3 Days <br>(Instant message to a recruiter)</div>
                                                            <div class="single_point">Unlimited Access to Training Section</div>
                                                      </div>  
                                                </div>
                                          </div>      
                                     </div>            
                               </div>
                        </div>

                        <div class="row">
                                <div class="col-md-12">            
                                    <h4 class="blue bold center mb-3">
                                        Recruiters can choose a subscriptions Standard, Premium and Experience for an 
                                        enhanced Jobamax experience.
                                    </h4>
                                    <div class="plans">
                                            <div class="single_plan">
                                                <div class="plan_inner">
                                                      <div class="plan_header">
                                                            <div class="plan_company_logo">
                                                                 <img :src="require(`@/assets/images/blue_logo2.png`)" />
                                                            </div>
                                                            <div class="plan_type plan_standard">
                                                                Standard
                                                            </div>
                                                      </div>
                                                      <div class="plan_price">
                                                            9,999$ / month
                                                      </div>
                                                      <div class="plan_poins">
                                                            <div class="single_point">15 Matches Per Day</div>
                                                            <div class="single_point">1 Job Offer at a Time</div>
                                                            <div class="single_point">Unlimited Chat</div>
                                                            <div class="single_point">Go Back</div>
                                                            <div class="single_point">Source 1 Profile Everyday</div>
                                                     </div>
                                                    <div class="plan_button">
                                                            <button class="plan_btn">                                
                                                                1 Week Free Trial                               
                                                            </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single_plan">
                                                <div class="plan_inner">
                                                    <div class="plan_header">
                                                        <div class="plan_company_logo">
                                                            <img :src="require(`@/assets/images/blue_logo2.png`)" />
                                                        </div>
                                                        <div class="plan_type plan_premium">
                                                            Premium
                                                        </div>
                                                    </div>
                                                    <div class="plan_price">
                                                        14,999$ / month
                                                    </div>
                                                    <div class="plan_poins">
                                                        <div class="single_point">Unlimited Matches per Day</div>
                                                        <div class="single_point">3 Job Offers Simultaneously</div>
                                                        <div class="single_point">Unlimited Chat</div>
                                                        <div class="single_point">Go Back</div>
                                                        <div class="single_point">Source 10 Profile Everyday</div>
                                                    </div>
                                                    <div class="plan_button">
                                                        <button class="plan_btn">                                
                                                            1 Week Free Trial                               
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single_plan">
                                                <div class="plan_inner">
                                                    <div class="plan_header">
                                                        <div class="plan_company_logo">
                                                        <img :src="require(`@/assets/images/blue_logo2.png`)" />
                                                        </div>
                                                        <div class="plan_type plan_experience">
                                                            Experience
                                                        </div>
                                                    </div>
                                                    <div class="plan_price">
                                                        22,999$ / month
                                                    </div>
                                                    <div class="plan_poins">
                                                        <div class="single_point">Unlimited Matches per Day</div>
                                                        <div class="single_point">Unlimited Job Offers Simultaneously</div>
                                                        <div class="single_point">Unlimited Chat</div>
                                                        <div class="single_point">Go Back</div>
                                                        <div class="single_point">Unlimited Sourcing</div>
                                                    </div>
                                                    <div class="plan_button">
                                                        <button class="plan_btn">                                
                                                            1 Week Free Trial                               
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                               </div>
                        </div>

                        <div class="row">
                                <div class="col-md-12">
                                    <h2 class="bold mt-5 mb-4">Subscription Tiers for Recruiters</h2>
                                </div>
                            <div class="plan_compare">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="table_desc">Features</th>
                                            <th scope="col">                        
                                                <div class="plan_table_logo">
                                                <img :src="require(`@/assets/images/blue_logo2.png`)" />
                                                </div>
                                                <div class="plan_type plan_standard">
                                                    Standard
                                                </div>                        
                                            </th>
                                            <th scope="col">                        
                                                <div class="plan_table_logo">
                                                    <img :src="require(`@/assets/images/blue_logo2.png`)" />
                                                </div>
                                                <div class="plan_type plan_premium">
                                                    Premium
                                                </div>                        
                                            </th>
                                            <th scope="col">                        
                                                <div class="plan_table_logo">
                                                     <img :src="require(`@/assets/images/blue_logo2.png`)" />
                                                </div>
                                            <div class="plan_type plan_experience">
                                                Experience
                                            </div>                        
                                           </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Matches. Chat. Recruitment</th>
                                            <td><img :src="require(`@/assets/images/check_grey.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">15 Matches per day</th>
                                            <td><img :src="require(`@/assets/images/check_grey.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 Job offer at a time</th>
                                            <td><img :src="require(`@/assets/images/check_grey.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Source 1 profile everyday</th>
                                            <td><img :src="require(`@/assets/images/check_grey.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Unlimited access to training section</th>
                                            <td><img :src="require(`@/assets/images/check_grey.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Passport to any location</th>
                                            <td><img :src="require(`@/assets/images/check_grey.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Video presentation</th>
                                            <td><img :src="require(`@/assets/images/check_grey.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Unlimited matches per day</th>
                                            <td></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3 Job offers simultaneously</th>
                                            <td></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Source 10 profile everyday</th>
                                            <td></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Go back on a profile</th>
                                            <td></td>
                                            <td><img :src="require(`@/assets/images/check_orange.svg`)" /></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Unlimited job offers simultaneously</th>
                                            <td></td>
                                            <td></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Unlimited sourcing everyday</th>
                                            <td></td>
                                            <td></td>
                                            <td><img :src="require(`@/assets/images/check_blue.svg`)" /></td>
                                        </tr>                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                   </div>
            </div> 
      </div>
 </div>  
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>