<template>
    <div>
       <div class="page_header">
             <div class="page_header_content">
                <div class="phc_logo">
                    <img :src="require(`@/assets/images/logo.png`)">           
                </div>
                <div class="page_name">Support</div>
             </div>
       </div>
      <!--page class div-->
      <div class="page">
          <div class="page_inner left">
              <div class="container">
                  <!--start row-->
                  <div class="row">
                       <div class="col-md-12">
                           <div class="page_title">Frequently Asked Questions</div>
                       </div>
                  </div>
                  <!--end row-->
    
                    <div class="submit_form">
                        <div class="container">
                             <div class="row apply_form"> 
                                  <div id="main">                    
                                        <div class="accordion" id="faq">   
                                              <h4 class="blue bold mb-3">Jobamax Overview</h4>                 
                                                <div class="card">
                                                       <div class="card-header" id="faqhead2">
                                                               <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
                                                                 aria-expanded="true" aria-controls="faq2">Supported Platforms and Devices</a>
                                                       </div>

                                                       <div  id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                                                            <div class="card-body">
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="card">
                                                       <div class="card-header" id="faqhead3">
                                                               <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                                                                 aria-expanded="true" aria-controls="faq2">Can i use Jobamax anywhere in the world?</a>
                                                       </div>

                                                       <div  id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                                                            <div class="card-body">
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="card">
                                                       <div class="card-header" id="faqhead4">
                                                               <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq4"
                                                                 aria-expanded="true" aria-controls="faq2">Can i use Jobamax anywhere in the world?</a>
                                                       </div>

                                                       <div  id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                                                            <div class="card-body">
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                            </div>
                                                      </div>
                                                </div>
                                                 <div class="card">
                                                       <div class="card-header" id="faqhead5">
                                                               <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq5"
                                                                 aria-expanded="true" aria-controls="faq2">What is the minimum age requirement?</a>
                                                       </div>

                                                       <div  id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
                                                            <div class="card-body">
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                            </div>
                                                      </div>
                                                </div>
                                        </div>   
                  
                                        <div class="accordion" id="faq">   
                                              <h4 class="blue bold mb-3">Profile and Account Setting:</h4>                 
                                                <div class="card">
                                                       <div class="card-header" id="faqhead6">
                                                               <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq6"
                                                                 aria-expanded="true" aria-controls="faq2">Supported Platforms and Devices</a>
                                                       </div>

                                                       <div  id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
                                                            <div class="card-body">
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="card">
                                                       <div class="card-header" id="faqhead7">
                                                               <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq7"
                                                                 aria-expanded="true" aria-controls="faq2">Can i use Jobamax anywhere in the world?</a>
                                                       </div>

                                                       <div  id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
                                                            <div class="card-body">
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="card">
                                                       <div class="card-header" id="faqhead8">
                                                               <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq8"
                                                                 aria-expanded="true" aria-controls="faq2">Can i use Jobamax anywhere in the world?</a>
                                                       </div>

                                                       <div  id="faq8" class="collapse" aria-labelledby="faqhead8" data-parent="#faq">
                                                            <div class="card-body">
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                            </div>
                                                      </div>
                                                </div>
                                                 <div class="card">
                                                       <div class="card-header" id="faqhead9">
                                                               <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq9"
                                                                 aria-expanded="true" aria-controls="faq2">What is the minimum age requirement?</a>
                                                       </div>

                                                       <div  id="faq9" class="collapse" aria-labelledby="faqhead9" data-parent="#faq">
                                                            <div class="card-body">
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                            </div>
                                                      </div>
                                                </div>
                                        </div>     
                                  </div>      
                             </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
      <!--end page class div-->
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
 /* @import "https://use.fontawesome.com/releases/v5.6.3/css/all.css"; */
.page_header{
 background-image: url('../assets/images/about_bg.jpg');
}
</style>