<template>
    <div>
         <div class="page_header">
               <div class="page_header_content">
                       <div class="phc_logo">
                           <img :src="require(`@/assets/images/logo.png`)">                       
                       </div>
                     <div class="page_name">Terms of Use</div>
               </div>
         </div>
        <div class="container">
              <div class="row">
                     <div class="col-md-12">
                            <div class="page">        
                                   <div class="page_inner">
                                          <div class="page_title">Terms of Use</div>
                                                Welcome to Jobamax. These terms of use are between you and Jobamax<br>
                                                74 Rue Horace-Bertin<br>
                                                13005 Marseille<br>
                                                France.
                                                <br><br>
                                                <h4 class="semiBold">1. Acceptance of Terms of Use Agreement.</h4>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type 
                                                    specimen book. It has survived not only five centuries, but also the leap 
                                                    into electronic typesetting, remaining essentially unchanged. It was 
                                                    popularised in the 1960s with the release of Letraset sheets containing 
                                                    Lorem Ipsum passages, and more recently with desktop publishing software 
                                                    like Aldus PageMaker including versions of Lorem Ipsum.   
                                                <br><br>
                                                <h4 class="semiBold">2. Eligibility</h4>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type 
                                                    specimen book. It has survived not only five centuries, but also the leap 
                                                    into electronic typesetting, remaining essentially unchanged. It was 
                                                    popularised in the 1960s with the release of Letraset sheets containing 
                                                    Lorem Ipsum passages, and more recently with desktop publishing software 
                                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                   </div>
                            </div>
                     </div>
              </div>
        </div> 
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.page_header{
 background-image: url('../assets/images/about_bg.jpg');
}
</style>