<template>
    <div class="footer_section_1">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
              <img :src="require(`@/assets/images/mobile_img.png`)"/>
            </div>
            <div class="col-md-9">
                <div class="app_title">Launching Soon in Spring 2021</div>
                <div class="play_store_btn flex">
                    <a href="">
                        <!-- <img src="assets/images/apple.png"> -->
                        <img :src="require(`@/assets/images/apple.png`)"/>

                    </a>
                    <a href="">
                        <!--<img src="assets/images/google_play.png">-->
                       <img :src="require(`@/assets/images/google_play.png`)"/>

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    
}
</script>
<style>

</style>