<template>
<div>
   <div class="header">
       <div class="header_inner">
           <nav class="navbar navbar-expand-lg navbar-light">
              <a href="#" class="site_logo navbar-brand desktop">
                 <img :src="require(`@/assets/images/blue_logo2.png`)" />
              </a>
              <a href="#" class="site_logo navbar-brand mobile">
                 <img :src="require(`@/assets/images/logo.png`)" />
              </a>
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
              </button>
             <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto lang">
                   <router-link class="nav-item nav-link" to="/">Home</router-link>
                   <router-link class="nav-item nav-link" to="/about-us">About Us</router-link>
                    <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">Features</a>
                      <div class="features dropdown-menu" id="feature">
                        <router-link class="dropdown-item" to="/job-seeker">Job Seeker</router-link>
                        <router-link class="dropdown-item" to="/job-recruiter">Recruiter</router-link>
                      </div>                       
                    <router-link class="nav-item nav-link" to="/contact-us">Contact Us</router-link>
                    <router-link class="nav-item nav-link" to="/download">Download</router-link>
                </div>
             </div>
            <span class="lang">
              <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language" aria-hidden="true"></i>English (UK)</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">French</a>
                </div>
            </span>
            <a href="#" class="nav-item nav-link login_btn">Log in</a>
           </nav>
       </div>
   </div>
</div>
</template>
<script>
export default {
    
}
</script>
<style>
.navbar-toggler-icon {
background-image: url('/assets/images/menu.svg');
}
::-webkit-scrollbar {
    display: none;
}
#feature {
margin-left: 12rem;
}
.dropdown-item {
    margin-left: 8px;
}

</style>