<template>
    <div class="footer">    
    <div class="footer_section_2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer_heading">Company</div>
                    <div class="footer_links">
                        <!-- <a href="">Jobs</a> -->
                        <router-link  to="/job-list">Job</router-link>
                        <router-link  to="/contact-us">Contact Us</router-link>
                        <router-link  to="/security">Security</router-link>
                        <router-link  to="/subscription">Subscription Tiers</router-link>
                        <router-link  to="/submit-your-idea">Submit Your Idea</router-link>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer_heading">Community</div>
                    <div class="footer_links">
                        <a href="">Blog</a>
                        <a href="">Press</a>
                        <router-link to="/support">Support</router-link>
                        <!--<router-link to="/cv">CV</router-link>-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer_heading custom_top">Legal</div>
                    <div class="footer_links">
                        <a href="">Privacy</a>
                        <router-link to="/terms">Terms</router-link>
                        <router-link to="/safety-tips">Safety Tips</router-link>
                        <router-link  to="/community-guideline">Community Guidelines</router-link>
 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_section_3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        To find out our latest news
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="link_heading">Social Links :</div>
                    <div class="social_icon">
                        <a href="">
                            <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                        <a href="">
                            <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                        <a href="">
                            <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                        <a href="">
                            <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-7 custom_top2">
                    <div class="link_heading custom_top2">Subscribe to Our Newsletter :</div>
                    <div class="subscribe_section">
                        <div class="newsletter">
                            <input type="email" placeholder="Email (Job Seeker)">                        
                        </div>
                        <div class="or">Or</div>
                        <div class="newsletter">
                            <input type="email" placeholder="Email (Recruiter)">                        
                        </div>
                        <div class="email_submit">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_section_4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    © 2021 Jobamax  |  All rights reserved.
                </div>
            </div>
        </div>
    </div>
</div>


</template>
<script>
export default {
    
}
</script>
<style>

</style>