<template>
<div>
  <div class="testimonial">
    <div class="slider">
    <!--start carousel-->
      <carousel 
        v-bind="settings" 
        :nav="false"
        :dots="false"
        style="height:300px;"
        >
        <div class="single_testimonial">
            <div class="tes_header flex">
                <div class="tes_left">
                    Nicolas
                    <div class="designation">Recruiter</div>
                </div>
                <div class="tes_right"><img :src="require(`@/assets/images/quote.svg`)"  class="quote" /></div>
            </div>
            <div class="tes_desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="single_testimonial">
            <div class="tes_header flex">
                <div class="tes_left">
                    Amber
                    <div class="designation">Recruiter</div>
                </div>
                <div class="tes_right"><img :src="require(`@/assets/images/quote.svg`)" class="quote" /></div>
            </div>
            <div class="tes_desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="single_testimonial">
            <div class="tes_header flex">
                <div class="tes_left">
                    Morgane
                    <div class="designation">Recruiter</div>
                </div>
                <div class="tes_right"><img :src="require(`@/assets/images/quote.svg`)" class="quote" /></div>
            </div>
            <div class="tes_desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="single_testimonial">
            <div class="tes_header flex">
                <div class="tes_left">
                    Nicolas
                    <div class="designation">Recruiter</div>
                </div>
                <div class="tes_right"><img :src="require(`@/assets/images/quote.svg`)" class="quote" />
          </div>
            </div>
            <div class="tes_desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="single_testimonial">
            <div class="tes_header flex">
                <div class="tes_left">
                    Nicolas
                    <div class="designation">Recruiter</div>
                </div>
                <div class="tes_right"><img :src="require(`@/assets/images/quote.svg`)" class="quote" />
          </div>
            </div>
            <div class="tes_desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
         <div class="single_testimonial">
            <div class="tes_header flex">
                <div class="tes_left">
                    Nicolas
                    <div class="designation">Recruiter</div>
                </div>
                <div class="tes_right"><img :src="require(`@/assets/images/quote.svg`)" class="quote" />
          </div>
            </div>
            <div class="tes_desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
      </carousel>
      <!--end carousel--> 
   </div>      
  </div>
</div>
</template>

<script>
import carousel from 'vue-owl-carousel2'
export default {

components:{
           carousel       
         },
data() {
    return {
    "settings":{
            "loop": true,
            "dots": false,
            "arrows" :false,
            "infinite": true,
            "speed": 500,
            "autoplay":true,
            "slidesToShow": 3,
            "slidesToScroll": 3,
            "smartSpeed": 900,
            "autoplayHoverPause": true,
            "responsive": [{
                "breakpoint": 600,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 2,
                    "infinite": true,
                    "dots": false
                    }
                },
                {
                "breakpoint": 480,
                    "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                    }
                }]
            }
        }
    },
 }
</script>
<style>
.quote{
    width:30px;
    height: 60px;
    margin-left: 30px;
}
</style>