<template>
  <div id="app">
  <SiteHeader></SiteHeader>
 <router-view/>
<SiteFooter></SiteFooter>

  </div>
</template>

<script>
import SiteHeader from './components/SiteHeader.vue'
import SiteFooter from './components/SiteFooter.vue'
export default {
  name: 'App',
  components: {
    SiteHeader,
    SiteFooter,
   
  }
}
</script>

<style>

.main_header{
  background-image:url('/assets/images/header_bg.jpg');
}
</style>
